<div class="navbar bg-primary text-white" id="nav">
  <div class="nav-btn">
    <%= link_to root_path, class: 'btn btn-primary' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="text-center fs-2">
    <h2>Categories</h2>
  </div>
<div class="d-flex mr-5"style="float: right;">
  <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete, class: 'text-white',id:"sign-btn" %>
</div>
  </div>
</div>
</div>
    

  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="car">
          <div class="total-transactions">
            <h2>Total Amount: $<%= category.total_amount %></h2>
          </div>
          <div class="card-header">
            <b><%= link_to category.name, category_transactions_path(category) %></b>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Icon</th>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% category.transactions.each do |transaction| %>
                  <tr>
                    <td><img src="<%= category.icon %>" alt="icon"></td>
                    <td><%= transaction.name %></td>
                    <td>$<%= transaction.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<div class="fixed-bottom">
  <%= link_to 'New category', new_category_path, class: 'btn btn-primary btn-lg bg-success d-block w-100' %>
</div>
